#################################
######## Build Artifacts ########
#################################
/.gradle/
build/
!gradle-wrapper.jar
# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
gradle/wrapper/gradle-wrapper.properties


#################################
###### IntelliJ IDEA Files ######
#################################
*.iml
*.idea