#################################
######## Build Artifacts ########
#################################
/.gradle/
build/
!gradle-wrapper.jar

#################################
###### IntelliJ IDEA Files ######
#################################
*.iml
*.idea